.icons{
    border: 2px solid black;
    margin: 8px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    left: 560px;
    top: 200px;
    background-color: #19c3fb;
    color: white;

}
.currentsection{
    margin-right: 818px;
}
.dayssection{
    margin-left: 5px;
    padding-left: 12px;
}
#inputcity{
    margin: 5px;
}
header{
    text-align: center;
    background-color: #1d71f2;
    padding: 4px;
}
.hide{
    display: none;
}
.btn{
    padding: 5px;
    margin: 5px;
}
ul{
    list-style-type: number;
    position: relative;
    border: 2px solid black;
    text-align: center;
    top: 5px;
    right: 28px;
    margin: 28px;
    background-color: #19c3fb;
}
li{
    position: relative;
    right: 15px;
}
h4 img{
    height: 520px;
    padding-left: 10px;
    padding-top: 5px;
}
button[value="undefined"] {display: none;}​


